body {
  background-color: #f7f7f7;
  font-family: "Times New Roman", Times, serif;
}

.container {
  width: 1000px;
  margin: 0 auto;
}

a {
  color: #1772d0;
  text-decoration: none;
}

a:hover {
  color: #f09228;
  text-decoration: none;
}
